body {
  width: 100%;
  height: 100%;
  margin: 0;
}
nav {
  text-align: center;
  margin: 10px;
}
h1{
  text-align: center;
}

#details
{
  display: block;
  text-align: center;

}

div {
  background: red;
  float: left;
  width: 25%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
  text-align: center;
  display: block;
}

figcaption {
  text-align: center;
}

a {
  padding-left: 10px;
  padding-right: 10px;
}
section p{
  width: 800px;
  text-align: center;
}
